	<!-- SESSÃO EMPRESA -->
	<section id="empresa" class="success">

		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Empresa</h2>
					<!-- <hr class="star-light"> --></br>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-lg-offset-2">
					<p>Muito prazer. Somos a Lubrificantes Horta. Nossa
						meta é sempre melhorar a qualidade dos nossos serviços, por isso é
						sempre um prazer recebê-lo.</p>
					<p>Estamos no mercado há 40 anos, buscando sempre um
						atendimento diferenciado e transparente. Nossa equipe está sempre
						à postos para servi-lo com alegria, rapidez e máxima atenção.</p>
					<p>Modernizamos as nossas instalações para o seu conforto e
						queremos ir muito além dos serviços, e primar pela sua
						satisfação.</p>
				</div>
				<div class="col-lg-4">
					<p>Conte sempre com a nossa competência, agilidade e
						experiência.</p>
					<p>Você faz parte do nosso time.</p>
					<p><b>MISSÃO</b>: Visar a excelência no atendimento ao nosso cliente
						oferecendo-lhe preços justos, segurança e rapidez.</p>
					<p><b>VISÃO</b>: Continuar crescendo neste ranking de mercado, sendo,
						reconhecidamente, a melhor em atendimento e custo/benefício.</p>
				</div>
			</div>				 
		</div>
	</section>
	<!-- SESSÃO EMPRESA -->
