<!-- Footer -->
	<footer class="text-center">
		<div class="footer-above">
			<div class="container">
				<div class="row">
					<div class="footer-col col-md-4">
						<h3>LOCALIZAÇÃO</h3>
						<p>
							Rua Monte Líbano 22, Padre Eustáquio </br>
							Telefone: (31)3462-4820 
						</p>
					</div>
					<div class="footer-col col-md-4">
						<h3>HORÁRIO</h3>
						<p>
					De Segunda a Sexta: 7:30h às 18:30h  </br> Sábado: 7:30h às 14:00h
						</p>
					</div>	
					
					<div class="footer-col col-md-4">
						<h3>Redes Sociais</h3>
						<ul class="list-inline">
								<li ><a href="https://www.facebook.com/pages/Lubrificantes-Horta/158572827589798?ref=bookmarks"  target="_blank"><img src="img/facebook.png"><i
									class="fa fa-fw fa-instagram-plus"></i></a></li>
							<!--<li><a href="https://www.youtube.com/channel/UCV0sHBEGWq-JEl_2_KNw8Vw/feed?view_as=public"  target="_blank" ><img src="img/tube.png"><i
									class="fa fa-fw fa-instagram-plus"></i></a></li> -->

									<li><a href="https://www.instagram.com/lubrificanteshorta/"  target="_blank" ><img src="img/instagram.png"><i
									class="fa fa-fw fa-instagram-plus"></i></a></li>
						<!-- 	<li><a href="#" class="btn-social btn-outline"><i
									class="fa fa-fw fa-twitter"></i></a></li>
							<li><a href="#" class="btn-social btn-outline"><i
									class="fa fa-fw fa-linkedin"></i></a></li>
							<li><a href="#" class="btn-social btn-outline"><i
									class="fa fa-fw fa-dribbble"></i></a></li> -->
						</ul>
					</div>

				</div>
			</div>
		</div>
		<div class="footer-below">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">Copyright &copy; 
						Lubrificantes Horta. <br> Faça seu site com a <a href="http://www.tikovs.com.br"/> TIKOVS </a>
						
						</div>
				</div>
				
					
			</div>
		</div>
	</footer>

	<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
	<div class="scroll-top page-scroll visible-xs visble-sm">
		<a class="btn btn-primary" href="#page-top"> <i
			class="fa fa-chevron-up"></i>
		</a>
	</div>
