	
	<!-- Services Modals -->
	<div class="portfolio-modal modal fade" id="ModalTrocaOleo"
		tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<h2>Troca de Óleo</h2>
							<hr>
							<img src="img/servicos/modal/troca_oleo.jpg"
								class="img-responsive img-centered" alt="">
							<ul class="list-inline item-details">
								<li>Temos grande parceria com todos os fabricantes e fornecedores. <strong>Venha Conferir.</strong>
								</li>
							</ul>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">
								<i class="fa fa-times"></i> Fechar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade" id="ModalAutomaticoDiferenciais"
		tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<h2>Automáticos e Diferenciais</h2>
							<hr>
							<img src="img/servicos/modal/transmissao.jpg"
								class="img-responsive img-centered" alt="">
							<p>Não cobramos nenhuma taxa para conferência desse serviço, que é realizada em toda troca de óleo.</p>
							<ul class="list-inline item-details">
								<!-- <li>Nossa equipe está orientada a sempre fazer tal verificação em seu veículo.
								</li> -->
							</ul>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">
								<i class="fa fa-times"></i> Fechar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade" id="ModalFiltroOleo"
		tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<h2>Troca de Filtros</h2>
							 <h3>(Ar, Óleo e Combustível)</h3>
				
							<hr>
							<img src="img/servicos/modal/filtro_oleo.jpg"
								class="img-responsive img-centered" alt="">
							<ul>
							<p>Sugerimos a substituição do elemento filtrante do óleo em todas as trocas para preservar a qualidade do óleo.</p>
							<p>O elemento filtrante de ar é conferido em todas as trocas de óleo do motor e substituído quando necessário.</p>
							<p>Efetuamos também a troca dos elementos filtrantes de combustíveis de todos os carros sejam eles à Diesel, Gasolina, Gasolina/Álcool.</p>
							</ul>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">
								<i class="fa fa-times"></i> Fechar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade" id="ModalHigienizacao"
		tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<h2>Higienização</h2>
							<hr>
							<img src="img/servicos/modal/servico-higienizacao.jpg"
								class="img-responsive img-centered" alt="">
							<p>Realizamos o processo de higienização do ar condicionado ou a substituição do elemento filtrante. Este serviço é feito, geralmente, de 6 em 6 meses.</p>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">
								<i class="fa fa-times"></i> Fechar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade" id="ModalBateria"
		tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<h2>Troca de Bateria</h2>
							<hr>
							<img src="img/servicos/modal/troca-bateria.jpg"
								class="img-responsive img-centered" alt="">
							<p>Trabalhamos com a Bateria CRAL, de excelente qualidade e com 1 ano de garantia.</p>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">
								<i class="fa fa-times"></i> Fechar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade" id="ModalOutros"
		tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl"></div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<h2>Outros Serviços</h2>
							<hr>
							<img src="img/servicos/modal/outros_servicos.jpg"
								class="img-responsive img-centered" alt="">
							<p>Ao efetuar a troca do óleo do motor é realizada ,automaticamente, a conferencia dos níveis de óleo das caixas e diferenciais, freio, hidráulico e de todos elementos filtrantes.</p>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">
								<i class="fa fa-times"></i> Fechar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
