<!-- SESSÃO SERVIÇOS -->
	<section id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Serviços</h2></br>
					<!-- <hr class="star-primary"> -->
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 portfolio-item" style="text-align:center">
					<a href="#ModalTrocaOleo" class="portfolio-link"
						data-toggle="modal">
						<div class="caption">
							<div class="caption-content">
								<i class="fa fa-search-plus fa-3x"></i>
							</div>
						</div> <img style="width:319px" src="img/servicos/troca_oleo.png" alt="">
					</a>
				</div>
				<div class="col-sm-4 portfolio-item" style="text-align:center">
					<a href="#ModalFiltroOleo" class="portfolio-link"
						data-toggle="modal">
						<div class="caption">
							<div class="caption-content">
								<i class="fa fa-search-plus fa-3x"></i>
							</div>
						</div> <img style="width:319px" src="img/servicos/filtro_oleo.png" alt="">
					</a>
				</div>
				<div class="col-sm-4 portfolio-item" style="text-align:center">
					<a href="#ModalHigienizacao" class="portfolio-link"
						data-toggle="modal">
						<div class="caption">
							<div class="caption-content">
								<i class="fa fa-search-plus fa-3x"></i>
							</div>
						</div> <img style="width:319px" src="img/servicos/servico-higienizacao.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- SESSÃO SERVIÇOS -->
